*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.header{
  background: linear-gradient(90deg, #EEEEEE 0%, #F8F9FB 33.33%, #F6F8FB 66.67%, #EFEBEB 100%),
linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

}
@media  screen and (min-width: 320px) and (max-width: 425px) {
  .logo{
  width: 50%;
}
}
.navigation{
  justify-content: space-between;
 
}
.button-1{
  border-radius: 20px;
}



.hero{
  background: linear-gradient(90deg, #EEEEEE 0%, #F8F9FB 33.33%, #F6F8FB 66.67%, #EFEBEB 100%),
linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.hero h1{
/* font-size: clamp(1.25rem, -0.5357rem + 8.9286vw, 7.5rem); */
font-size: clamp(1.25rem, -0.5357rem + 8.9286vw, 7.5rem);
font-family: sans-serif;
}
.hero h1 span{
  color: #97D8E8;
}
.hero p{
font-size: clamp(0.75rem, 0.4286rem + 1.6071vw, 1.875rem);
letter-spacing: 3px;
}
.button2 button{
  background-color: #4A4849;
  color: white;
border: none;
  border-radius: 20px;
}
.Proudly_Designed{
  background: linear-gradient(90deg, #EEEEEE 0%, #F8F9FB 33.33%, #F6F8FB 66.67%, #EFEBEB 100%);

}
.logo1{
  list-style-type: none;
}
.logo1 li div{
  font-size: clamp(0.6875rem, 0.1477rem + 2.6989vw, 1.875rem);
}
.reveiw{
  display: flex;
  justify-content: space-between;
}
.reveiw p{
  font-size: clamp(0.6875rem, 0.5208rem + 0.8333vw, 1.25rem);
}
.Proudly_Designed{
  border-bottom: 2px dashed black;
}
.three{
  background: linear-gradient(90deg, #EEEEEE 0%, #F8F9FB 33.33%, #F6F8FB 66.67%, #EFEBEB 100%);
}
.three h1{
  font-size: clamp(1.25rem, 1.0648rem + 0.9259vw, 1.875rem);
}
.three img{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.card1{
  border: none;
}
.card1 img{
  border: 2px solid black;
  border-radius: 15px;

}